@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-monserrat: 'Montserrat', sans-serif;
    --fuente-Krona: 'Krona One', sans-serif;

    --font-size-base: 1rem; /* 16px */
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: var(--font-size-base);
}

.titulo-destaque {
    color: var(--color-terciario); 
}

.presentacion {
    padding: 6.2% 15%; /* Si prefieres rem, conviértelo con base en el contexto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%; /* 615px */
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
}

.presentacion__contenido__titulo{
    font-size: 2.25rem; /* 36px */
    font-family: var(--fuente-Krona);
}

.presentacion__contenido__texto{
    font-size: 1.5rem; /* 24px */
    font-family: var(--fuente-monserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* 32px */
}

.presentacion__enlaces__link{
    width: 50%; /* 378px */
    text-align: center;
    border-radius: 0.5rem; /* 8px */
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    padding: 1.34rem 0; /* 21.5px */
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrat);
    border: 0.125rem solid var(--color-terciario); /* 2px */
    display: flex;
    justify-content: center;
    gap: 0.625rem; /* 10px */
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-Krona);
    font-size: 1.5rem; /* 24px */
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover); 
}

.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem; /* 24px */
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
}

.header{
    padding: 2% 0 0 15%;
}

.header__menu{
    display: flex;
    gap: 5rem; /* 80px */
}

.header__menu__link{
    color: var(--color-terciario);
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    text-decoration: none;
}

.presentacion__imagen{
    width: 50%;
}

@media (max-width: 1200px){

.presentacion__contenido{
    width: auto;
}    

.header__menu{
 justify-content: center;
}

.header{
    padding: 10%;
}

.presentacion{
  flex-direction: column-reverse; 
  padding: 5%; 
}
}
